<ul class="main-menu" (mouseleave)="handleMouseLeave()">
  <li *ngFor='let menuItem of menuItems'>
    <a (mouseenter)="handleMouseEnter($event, menuItem, false)" href="{{menuItem.url}}" target="_blank"><h1>{{menuItem.name}}</h1></a>    
  </li>
</ul>
<div class="relative">
  <div class="preview-images top-left" [@flyInOut]="previewImageState">
    <img class="preview" src="{{previewImage1}}"/>
    <img [@showHide]="image2Shown" class="preview top-left" src="{{previewImage2}}"/>
  </div>
  <ng-container *ngFor="let menuItem of menuItems">
    <div class="top-left" [style.left]="menuItem.left">
      <ul class="sub-menu" (mouseleave)="handleMouseLeave()">
        <li *ngFor='let subMenuItem of menuItem.subMenu' [@topMargin]="getSubMenuState(menuItem)">
          <a (mouseenter)="handleMouseEnter($event, menuItem, true)" href="{{subMenuItem.url}}" target="_blank"><h2>{{subMenuItem.name}}</h2></a>    
        </li>
      </ul>    
    </div>
  </ng-container>
</div>